.bloc {
	background-color: transparent;
	border: 1px solid #7ec6fd;
	color: black;
	width: 100%;
	height: 300px;
}

div.break{
	height: 20px;
}

.fourpics{
	max-width: 49%;
} /*Setting specific pictures' sizes to be a different size so that they will show up in a grid.*/

img{
	max-width: 100%;
} /*Setting all images that tare not otherwise labled to not expand beyond their container.*/

*, *:before, *:after {
    box-sizing: inherit;
}
body, html {
  width: 100%;
  height: 100%;
}
body {
  box-sizing: border-box;
  font-family: Lucida Handwriting, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
  line-height: 1.1;
  background-attachment: fixed;
} /*Text styling*/

#particles {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;
  background-color: transparent;
  height: 100%;
}
.header{ 
	position: relative;
	min-height: 100%;
	text-align: center;
	background-color: transparent;
}

.inner {
  /*position: absolute;*/
  top: 20px;
  font-size: 25px;
  color: #000;
  background-color: transparent;
  width: 100%;
}

/* Copyright Arbaoui Mehdi 2013 */

body {
  background-image: URL(http://www.themesltd.com/backgrounds/random/swimming_pool_water.gif); }

#card {
  background: #fff;
  width: 70%;
  height: auto;
  margin: 3% auto;
  padding: 20px 30px;
  border: 1px solid white;
  -webkit-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 8px 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  text-align: left; }
  #card h1 {
    color: #dc152c;
    font-weight: normal;
    font-size: 48px;
    margin: 0 0 10px 0; }
    #card h1::first-letter {
      color: #194ff7; }
    #card h1 b {
      color: #f1840b;
      font-weight: normal; }
    #card h1 b + b {
      color: #194ff7; }
    #card h1 b + b + b {
      color: #00940e; }

.content {
  text-align: left;
  /* Pure CSS3 typing animation with steps() :
     http://lea.verou.me/2011/09/pure-css3-typing-animation-with-steps/ */ }
  .content ul {
    padding: 0;
    margin: 0;
    font: 16px Arial; }
    .content ul li {
      list-style: none; }
      .content ul li a {
        color: #12C; }
      .content ul li span {
        display: block;
        width: 100%;
        margin-bottom: 2px; }
        .content ul li span:nth-child(2) {
          margin-bottom: 10px; }
          .content ul li span:nth-child(2) a {
            color: #093;
            text-decoration: none; }
        .content ul li span:nth-child(3), .content ul li span:nth-child(4) {
          font-size: 14px; }
  .content .text {
    border: 1px solid #7ec6fd;
    float: left;
    width: 100%;
    margin-bottom: 10px; }
    .content .text h2 {
      position: relative;
      float: left;
      font-size: 100%;
      font-weight: normal;
      padding: 0;
      margin: 5px 10px; }
      .content .text h2 span {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        background: white;
        /* same as background */
        border-left: 0.1em solid black;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-animation: typing 1s steps(20, end), blink-caret 1s step-end infinite;
        -moz-animation: typing 1s steps(20, end), blink-caret 1s step-end infinite; }

/* Animate CSS : http://daneden.me/animate/ */
.animated {
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -khtml-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -khtml-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  animation-duration: 0.4s; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -khtml-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn; }

/* Typing keyframes */
@-webkit-keyframes typing {
  0% {
    width: 100%; }

  100% {
    width: 0; } }

@-moz-keyframes typing {
  0% {
    width: 100%; }

  100% {
    width: 0; } }

@-o-keyframes typing {
  0% {
    width: 100%; }

  100% {
    width: 0; } }

@keyframes typing {
  0% {
    width: 100%; }

  100% {
    width: 0; } }

/* FadeIn keyframes */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
